.dangyuan-btn{
  text-align: center;
  margin:0.5rem 0 0.5rem 0.8rem;
}
.dangyuan-btn ion-col{
  margin-right:0.8rem;
  border-radius: 10%;
  width: 50px;
  height: 90px;
  background-color:#ffcc33;
}

.dangyuan-btn ion-icon{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color:#e2010f;
  font-size:30px;
}
